<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>交流社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <head th:insert="~{import :: head}"></head>

</head>
<body>
<!-- nav 是导航链接 -->
<!-- 导入 navigation -->
<div th:insert="~{navigation::nav}"></div>
<div class="jumbotron" style="min-height: 300px;">
    <h1>出错啦！！！</h1>
    <p th:text="${message}"></p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">回到主页</a></p>
</div>

</body>
</html>