<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <!-- 该路径并不能识别到样式 (/开头指代工程的根目录) -->
    <!--<link rel="stylesheet" href="../static/css/bootstrap.min.css">-->
    <!-- 好像可以默认识别到 static 下的目录 -->
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="icon" href="/images/logo.png" type="image/x-icon"/>

    <!-- jquery文件，必须在引入bootstrap之前引入 -->
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="/js/community.js" type="application/javascript"></script>
    <script src="/layer/layer.js" type="application/javascript"></script>

    <script src="/valid/jquery.validator.min.js?local=zh-CN"></script>
    <link rel="stylesheet" href="/valid/jquery.validator.css">

</head>
<head th:fragment="markdown">
    <link rel="stylesheet" href="/css/editormd.min.css">
    <link rel="stylesheet" href="/css/editormd.preview.min.css">
    <script src="/js/editormd.min.js" type="application/javascript"></script>
    <script src="/js/moment-2.24.0.min.js" type="application/javascript"></script>
    <script src="/js/lib/marked.min.js"></script>
    <script src="/js/lib/prettify.min.js"></script>
</head>
</html>