<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>交流社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <head th:insert="~{import :: head}"></head>

    <script type="application/javascript">
        window.onload = function () {
            let closable = window.localStorage.getItem("closable");
            if (closable === "true") {
                window.close();
                window.localStorage.removeItem("closable");
            }
        }
    </script>

</head>
<body>
<!-- nav 是导航链接 -->
<!-- 导入 navigation -->
<div th:insert="~{navigation::nav}"></div>

<!-- 流式布局 -->
<div class="container-fluid main">
    <div class="row">
        <!-- 左侧那一列 -->
        <div class="col-lg-9 col-xs-12 col-sm-12 col-md-12">
            <h3><span class="glyphicon glyphicon-list" aria-hidden="true"></span> 发现</h3>
            <ul class="nav nav-tabs">
                <li role="presentation" th:class="${sort == 'new' || sort == '' ? 'active':''}">
                    <a th:href="@{/(sort='new')}">最新</a>
                </li>
                <li role="presentation" th:class="${sort == 'hot30' ? 'active':''}">
                    <a th:href="@{/(sort='hot30')}">30天最热</a>
                </li>
                <li role="presentation" th:class="${sort == 'hot7' ? 'active':''}">
                    <a th:href="@{/(sort='hot7')}">7天最热</a>
                </li>
                <li role="presentation" th:class="${sort == 'hot' ? 'active':''}">
                    <a th:href="@{/(sort='hot')}">最热</a>
                </li>
                <li role="presentation" th:class="${sort == 'no' ? 'active':''}">
                    <a th:href="@{/(sort='no')}" class="red">抢沙发</a>
                </li>
            </ul>
            <div class="media" th:each="question:${pagination.data}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded"
                             th:src="${question.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        <a th:href="@{'/question/'+${question.id}}" th:text="${question.title}"></a>
                    </h4>
                    <!-- 添加标签 -->
                    <span class="label label-info question-tag" th:each="tag : ${question.tag.split(',|，')}">
                        <!--<span class="glyphicon glyphicon-tags"></span>-->
                        <!--<span th:text="${tag}"></span>-->
                        <a th:href="@{/(page=1,tag=${tag})}" class="community-tag">
                            <span class="glyphicon glyphicon-tags"></span>
                            <span th:text="${tag}"></span>
                        </a>
                    </span>
                    <!--<span class="label label-info" th:text="${question.tag}"></span>-->
                    <span class="text-desc" style="float:right;">
                        <span th:text="${question.commentCount}"></span>个回复 •
                        <span th:text="${question.viewCount}"></span> 次浏览 •
                        <!-- 格式化日期 -->
                        <span th:text="${#dates.format(question.gmtCreate, 'yyyy-MM-dd HH:mm')}"></span>
                    </span>
                </div>
            </div>

            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pagination.showFirstPage}">
                        <a th:href="@{/(page=1, search=${search},tag=${tag},sort=${sort})}" aria-label="FirstPage">
                            <span aria-hidden="true"> << </span>
                        </a>
                    </li>
                    <li th:if="${pagination.showPrevious}">
                        <a th:href="@{/(page=${pagination.page - 1},search=${search},tag=${tag},sort=${sort})}"
                           aria-label="Previous">
                            <span aria-hidden="true"> < </span>
                        </a>
                    </li>

                    <li th:each="page : ${pagination.pages}" th:class="${pagination.page == page}? 'active' : ''">
                        <a th:href="@{/(page=${page}, search=${search},tag=${tag},sort=${sort})}" th:text="${page}"></a>
                    </li>

                    <li th:if="${pagination.showNext}">
                        <a th:href="@{/(page=${pagination.page + 1}, search=${search},tag=${tag},sort=${sort})}"
                           aria-label="Next">
                            <span aria-hidden="true"> > </span>
                        </a>
                    </li>
                    <li th:if="${pagination.showEndPage}">
                        <a th:href="@{/(page=${pagination.totalPage}, search=${search},tag=${tag},sort=${sort})}"
                           aria-label="EndPage">
                            <span aria-hidden="true"> >> </span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>

        <!-- 右侧那一列 -->
        <div class="col-lg-3 col-xs-12 col-sm-12 col-md-12">
            <h3>热门标签</h3>
            <!--<a th:each="tag : ${tags}" th:href="@{/(page=1,search=${search},tag=${tag},sort=${sort})}"-->
            <!--   th:text="${tag}" class="community-tag"></a>-->
            <ul class="hot-tags">
                <li th:each="tag : ${tags}" class="tag-list">
                    <a th:href="@{/(page=1,search=${search},tag=${tag},sort=${sort})}" th:text="${tag}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>