<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>交流社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- 最新的jquery本地文件，必须在引入bootstrap之前引入 -->
    <script src="webjars/jquery/3.4.1/jquery.min.js"></script>
    <!-- 该路径并不能识别到样式 -->
    <!--<link rel="stylesheet" href="../static/css/bootstrap.min.css">-->
    <!-- 好像可以默认识别到 static 下的目录 -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.css">
    <script src="js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<!-- nav 是导航链接 -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">交流社区</span>
            </button>
            <a class="navbar-brand" href="/">交流社区</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="搜索问题">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <!-- 判断 如果 user==null 说明登录失败 -->
                <li th:if="${session.user==null}">
                    <a href="https://github.com/login/oauth/authorize?client_id=ad3aafde0ac9783ef322
                &redirect_uri=http://localhost:8686/callback&scope=user&state=1">登陆</a>
                </li>
                <!-- user!=null 时，说明登陆成功，显示用户名-->
                <li class="dropdown" th:if="${session.user!=null}">
                    <a href="/publish"><span>发布</span></a>
                </li>
                <li class="dropdown" th:if="${session.user!=null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" th:text="${session.user.getName()}"><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">消息中心</a></li>
                        <li><a href="#">个人资料</a></li>
                        <li><a href="#">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- 流式布局 -->
<div class="container-fluid main">
    <div class="row">
        <!-- 左侧那一列 -->
        <div class="col-lg-9 col-xs-12 col-sm-12 col-md-12">
            <h3><span class="glyphicon glyphicon-list" aria-hidden="true"></span> 发现</h3>
            <hr/>
            <div class="media" th:each="question:${pagination.data}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded"
                             th:src="${question.user.avatarUrl}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" th:text="${question.title}"></h4>
                    <span th:text="${question.description}"></span>
                    <span class="text-desc">
                        <span th:text="${question.commentCount}"></span>个回复 ·
                        <span th:text="${question.viewCount}"></span> 次浏览 ·
                        <!-- 格式化日期 -->
                        <span th:text="${#dates.format(question.gmtCreate, 'yyyy-MM-dd HH:mm')}"></span>
                    </span>
                </div>
            </div>

            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${pagination.showFirstPage}">
                        <a th:href="@{/(page=1)}" aria-label="FirstPage">
                            <span aria-hidden="true"> << </span>
                        </a>
                    </li>
                    <li th:if="${pagination.showPrevious}">
                        <a th:href="@{/(page=${pagination.page - 1})}"
                           aria-label="Previous">
                            <span aria-hidden="true"> < </span>
                        </a>
                    </li>

                    <li th:each="page : ${pagination.pages}" th:class="${pagination.page == page}? 'active' : ''">
                        <a th:href="@{/(page=${page})}" th:text="${page}"></a>
                    </li>

                    <li th:if="${pagination.showNext}">
                        <a th:href="@{/(page=${pagination.page +1 })}"
                           aria-label="Next">
                            <span aria-hidden="true"> > </span>
                        </a>
                    </li>
                    <li th:if="${pagination.showEndPage}">
                        <a th:href="@{/(page=${pagination.totalPage})}"
                           aria-label="EndPage">
                            <span aria-hidden="true"> >> </span>
                        </a>
                    </li>
                </ul>
            </nav>

        </div>

        <!-- 右侧那一列 -->
        <div class="col-lg-3 col-xs-12 col-sm-12 col-md-12">
            <h3>热门问题</h3>
        </div>
    </div>
</div>

</body>
</html>