<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<body>
<!-- nav 是导航链接 -->
<div th:fragment="nav">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"-->
                <!--        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->
                <!--    <span class="sr-only"></span>-->
                <!--</button>-->
                <div class="login-logo">
                    <!--<i class="iconfont icon-LOL-xiaguxianfeng login_ali_icon"></i>-->
                    <b style="margin-top: 7px;"><a class="logo" href="/">Movie Talk</a></b>
                </div>
                <!--<a class="navbar-brand" href="/">交流社区</a>-->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <!-- 当点击 搜索按钮时会将 name为search的参数发送get请求-->
                <form class="navbar-form navbar-left" action="/" method="get">
                    <div class="form-group">
                        <input type="text" class="form-control" name="search" placeholder="搜索关键词...">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <!-- user!=null 时，说明登陆成功，显示用户名-->
                    <li class="dropdown" th:if="${session.user!=null}">
                        <a href="/publish"><span>发布</span></a>
                    </li>
                    <!-- 显示通知未读数 -->
                    <li>
                        <a href="/profile/replies">
                            通知 <span class="badge" th:text="${session.unreadCount}"></span>
                        </a>
                    </li>
                    <!-- 判断 如果 user==null 说明登录失败 -->
                    <li th:if="${session.user==null}">
                        <a href="/login">登陆</a>
                    </li>
                    <li th:if="${session.user==null}">
                        <a href="/register">注册</a>
                    </li>
                    <li class="dropdown" th:if="${session.user!=null}">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            <span th:text="${session.user.getName()}"></span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/profile/questions">个人中心</a></li>
                            <li><a href="/logout">退出登录</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

</body>

</html>