<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>发布 - 交流社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <head th:insert="~{import :: head}"></head>
    <head th:insert="~{import :: markdown}"></head>

</head>
<body>
<!-- nav 是导航链接的意思 -->
<!-- 导入 navigation -->
<div th:insert="~{navigation::nav}"></div>

<!-- 流式布局 -->
<div class="container-fluid main">
    <div class="row">
        <!-- 左侧那一列 -->
        <div class="col-lg-9 col-xs-12 col-sm-12 col-md-12">
            <h3><span class="glyphicon glyphicon-plus" aria-hidden="true">发起</span></h3>
            <hr/>

            <form action="/publish" method="post">
                <!-- 提交 POST 时会一同被提交至服务器，但是不在页面上显示-->
                <input type="hidden" name="id" th:value="${id}">
                <div class="form-group">
                    <label for="title">问题标题（简单扼要）:</label>
                    <input type="text" class="form-control" id="title" name="title" th:value="${title}"
                           placeholder="问题标题……"
                           autocomplete="off">
                </div>
                <div class="form-group" id="question-editor" style="z-index: 2">
                    <label for="description">问题补充 (必填，请参照指南提示):</label>
                    <!-- textarea 的回显需要使用 th:text=""  其余的使用 th:value="" -->
                    <textarea name="description" id="description" th:text="${description}" style="display:none;"
                              class="form-control"
                              cols="30"
                              rows="10">
                    </textarea>
                </div>
                <script type="text/javascript">
                    $(function () {
                        let editor = editormd("question-editor", {
                            width: "100%",
                            height: "500",
                            path: "/js/lib/",
                            delay: 0,
                            watch: false,
                            placeholder: "请输入描述",
                            imageUpload: true,  //实现图片上传
                            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                            imageUploadURL: "/file/upload",

                        });
                    });
                </script>
                <div class="form-group">
                    <label for="tag">添加标签:</label>
                    <input type="text" class="form-control" th:value="${tag}" id="tag" name="tag"
                           autocomplete="off"
                           placeholder="可自定义标签，以,号分隔"
                           onclick="showSelectTag()">
                    <div id="select-tag" class="publish-tag-tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" th:each="selectCategory,selectCategoryStat: ${tags}"
                                th:class="${selectCategoryStat.first ? 'active':''}">
                                <a th:href="${'#'+selectCategory.categoryName}" aria-controls="home" role="tab"
                                   data-toggle="tab" th:text="${selectCategory.categoryName}"></a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" th:id="${selectCategory.categoryName}"
                                 th:each="selectCategory: ${tags}"
                                 th:class="${selectCategoryStat.first ? 'active tab-pane':'tab-pane'}">
                                <span>
                                    <span class="label label-info question-tag"
                                          th:each="selectTag: ${selectCategory.tags}">

                                        <span class="glyphicon glyphicon-tags"></span>
                                        <span class="community-tag" onclick="selectTag(this)"
                                              th:data-tag="${selectTag}"
                                              th:text="${' '+selectTag}">
                                        </span>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <!--提示错误信息-->
                <div class="btn-publish">
                    <span th:if="${error!=null}" th:text="${error}" class="publish-error"></span>
                    <button type="submit" class="btn btn-success">
                        发布
                    </button>
                </div>
            </form>
        </div>


        <!-- 右侧那一列 -->
        <div class="col-lg-3 col-xs-12 col-sm-12 col-md-12">
            <h3>发起指南</h3>
            • 问题标题:<br/>
            请用精简的语言描述您发布的问题，不超过25字<br/>
            • 问题补充:<br/>
            详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料<br/>
            • 选择标签:<br/>
            选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字<br/>
        </div>
    </div>
</div>
<div th:insert="~{footer :: foot}"></div>
</body>
</html>