<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register-MovieTalk</title>
    <head th:insert="~{import :: head}"></head>
</head>
<body class="login-body">
<div class="login-main">
    <div class="login-page container-fluid">
        <div class="row login-page-main">
            <div class="login-left col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <div class="login-logo">
                    <i class="iconfont icon-LOL-xiaguxianfeng login_ali_icon"></i>
                    <b><a class="logo" href="/">MovieTalk</a></b>
                </div>
                <form class="login-form" action="/register" method="post"
                      data-validator-option="{theme:'yellow_right_effect', stopOnError:true}">
                    <div class="form-group">
                        <label for="login-username">
                            <img src="/icons/nickname.svg" class="login-icon">&nbsp;用户名
                        </label>
                        <input type="username" class="form-control" id="login-username" placeholder="Username"
                               name="username" data-rule="用户名:required;length(3~16)">
                    </div>
                    <div class="form-group">
                        <label for="login-email">
                            <img src="/icons/envelope-open.svg" class="login-icon">&nbsp;email
                        </label>
                        <input type="email" class="form-control" id="login-email" placeholder="Email"
                               name="email" data-rule="邮箱: required; email">
                    </div>
                    <div class="form-group">
                        <label for="login-pwd">
                            <img src="/icons/lock.svg" class="login-icon">&nbsp;password
                        </label>
                        <input type="password" class="form-control" id="login-pwd" placeholder="Password"
                               name="password" data-rule="密码:required;length(6~16)">
                    </div>
                    <div class="form-group">
                        <label for="register-code">
                            <img src="/images/code.svg" class="login-icon">&nbsp;Code
                            <button id="send-email-btn" type="button" class="btn btn-success btn-xs send-email-btn"
                                    onclick="sendActiveEmail()">GetCode
                            </button>
                        </label>
                        <input type="text" class="form-control" id="register-code" placeholder="Verification Code"
                               name="code"
                               data-rule="验证码:required;length(6)">
                    </div>
                    <div>
                        <span th:if="${signupSuccess!=null}" class="red">SignUp Success</span>
                        <button type="submit" class="btn btn-primary btn-publish">SignUp</button>
                    </div>
                </form>
            </div>
            <div class="login-right col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="login-other-all">
                    <h4>Third party login</h4>
                    <div class="OAuth" style="text-align: center">
                        <a th:href="@{https://gitee.com/oauth/authorize(client_id='c7a4f5cc8f6678674ea967d4a10a8e5f52e64904440ddf283c278b4097971271',redirect_uri=${#httpServletRequest.getServletContext().getAttribute('giteeRedirectUri')},response_type='code')}">
                            <img src="/images/gitee.svg" class="third-login">
                        </a>
                        <a th:href="@{https://github.com/login/oauth/authorize(client_id='ad3aafde0ac9783ef322',redirect_uri=${#httpServletRequest.getServletContext().getAttribute('githubRedirectUri')},scope='user',state=1)}">
                            <img src="/images/github.svg" class="third-login">
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div class="login-page-footer">
            <img src="/icons/info.svg" class="login-icon">&nbsp;
            <b>Already existed? <a href="/login">go to login</a></b>
        </div>
    </div>
</div>

<!--页尾-->
<div th:insert="~{footer :: foot}"></div>
</body>
</html>
